@model SuperHero
@{
    ViewData["Title"] = "Home Page";
    //var hero = ViewData["SuperHeroName"] as SuperHero;
    //var hero = ViewBag.SuperHeroName;
}

<div class="text-center">
    <h1 class="display-4">Welcome to Heros App</h1>
    <p>Super hero id :@ViewBag.id </p>
    <p>Super hero name :@ViewBag.name </p>
</div>
@*@section extraitems{
<p>@Model.Id - @Model.name </p>
}*@
@Html.Partial("_DateTimePartial")
@*<partial name="_DateTimePartial"></partial>*@